__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
dist/
build/

.venv/
env/
ENV/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.log

.env
.env.*
*.sqlite3

.cache/
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover

